Repository appKom/capellini, pull requests merged in 2024-09, with the labels that each got.

#316 Oppdatert beskrivelse 🚀
  pages/about.tsx
Labels: frontend

#318 Fikser tildeling av samme rom ved parallelle intervjuer
  algorithm/bridge/fetch_applicants_and_committees.py
  algorithm/src/mip_matching/Committee.py
  algorithm/src/mip_matching/TimeInterval.py
  algorithm/src/mip_matching/match_meetings.py
  algorithm/src/mip_matching/types.py
  algorithm/tests/CommitteeTest.py
  algorithm/tests/mip_test.py
  lib/sendInterviewTimes/sendInterviewTimes.ts
  lib/types/types.ts
Labels: bug, refactoring, algorithm

#317 Oppdaterte algoritme-docsene
  algorithm/README.md
  algorithm/src/Modellering.md
Labels: documentation, algorithm
